<link rel="stylesheet" href="/spa-fetch-components/assets/menu.css">
<link rel="stylesheet" href="/spa-fetch-components/assets/global.css">

<header class="cabecalho">
    <a href="#" class="cabecalho__logo">Logo</a>
    <nav class="menu" data-menu>
        <button class="menu__botao" aria-label="Abrir Menu" Aria-expanded="false">
            <span class="menu__hamburguer"></span>
        </button>
        <ul class="menu__lista">
            <li><a href="#" data-link="home">Home</a></li>
            <li><a href="#" data-link="home">Sobre</a></li>
            <li><a href="#" data-link="home">Produtos</a></li>
            <li><a href="#" data-link="home">Portfólio</a></li>
            <li><a href="#" data-link="home">Contato</a></li>
        </ul>
    </nav>
</header>

<script type="module" src="./menu.js"></script>